@import 'compass/reset'

*
  padding: 0
  margin: 0

html, body
  height: 100%

body
  background: white
  color: black
  font-family: 'PT Sans', sans-serif

a:active, a:focus
  outline: none

input
  outline: none
