.post-comments
  width: 600px + 160px
  margin: 30px auto 0 auto
  position: relative
  .unimportant-comments
    display: none
    margin-top: -5px
    padding-top: 5px
  .comments-controls
    height: 35px
    position: relative
  .show-more-comments, .add-comment
    position: absolute
    top: 3px
    height: 30px
    line-height: 30px
    background: black
    color: white
    text-decoration: none
    text-shadow: black 0 0 1px
    +shadow
    +transition(all, 150ms)
    &:hover
      text-shadow: white 0 0 1px
    .crop
      top: 0
      position: absolute
      width: 30px
      height: 30px
      overflow: hidden
    .arrow
      position: absolute
      width: 45px
      height: 45px
      +rotate(45deg)
      background: black
      +shadow
  .show-more-comments
    left: 0
    padding-left: 80px
    width: 435px
    .crop
      left: 100%
      +box-shadow(#ccc 0 -3px 2px -2px)
    .arrow
      top: -23px
      left: -24px
  .add-comment
    width: 190px
    padding-right: 15px
    text-align: right
    right: 0
    .crop
      right: 100%
      +box-shadow(#ccc 0 3px 2px -2px)
    .arrow
      top: 9px
      left: 8px

@import 'pages/comment'
@import 'pages/new-comment'
