@import 'base'

$title-width: 470px
$title-height: 1.4 * $title-width

.title-page
  position: absolute
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  background: $gray-background
  z-index: 40
  .book
    width: $title-width
    margin: 0 auto
    padding: 10px 0
  .book-wrap
    position: relative
    height: $title-height
  .bottom
    position: absolute
    top: 11px
    left: 11px
    width: $title-width
    height: $title-height - 24px
    background: #fcfcfc
    border: 1px solid #cfcfcf
    +box-shadow(rgba(0, 0, 0, 0.2) 0 0 15px)
    z-index: 1
  .page
    position: absolute
    width: $title-width - 2px
  .page.odd
    background: white
  .page.even
    background: #e8e8e8
  @for $i from 1 through 12
    .page#{$i}
      left: #{$i}px
      top: #{$i + 2}px
      bottom: #{$i + 2}px
      z-index: #{14 - $i}
  .page1
    +box-shadow(rgba(0, 0, 0, 0.1) 15px 0 15px -15px inset)
  .rotator
    position: absolute
    left: -$title-width
    width: 2 * $title-width
    height: $title-height
  .back-side
    width: $title-width
    height: $title-height - 2px
    position: absolute
    left: 0
    background: #f8f8f8
    border: 1px solid #cfcfcf
    border-right-color: #e8e8e8
    +box-shadow(rgba(0, 0, 0, 0.1) 0 0 20px)
    z-index: 20
    display: none
    .paper
      position: absolute
      top: 2px
      right: -1px
      bottom: 2px
      left: 2px
      background: white
      +box-shadow(rgba(0, 0, 0, 0.1) -7px 0 7px -7px inset)
  .title
    width: $title-width
    height: $title-height - 2px
    background: white
    position: relative
    left: $title-width
    border: 1px solid #cfcfcf
    z-index: 2
    +border-left-radius(4px)
    +box-shadow(rgba(0, 0, 0, 0.15) 6px 0 6px -6px inset)
    z-index: 20
    overflow: hidden
  .head
    position: absolute
    background: image-url("title/vessels-and-nerves.png")
    +image-size("title/vessels-and-nerves.png")
    top: 165px
    left: 50%
    margin-left: image-width("title/vessels-and-nerves.png") / -2
    +scale(0.86)
  h1
    position: absolute
    top: 15px
    left: 20px
    font-size: 46px
    font-family: Philosopher, serif
  p
    position: absolute
    top: 27px
    right: 0
    width: 230px
    font-size: 15px
    line-height: 1.2
    strong
      display: block
      font-weight: bold
  .wait, .restart
    position: absolute
    margin-left: 22px
    width: 140px
    text-align: center
    font-size: 15px
    text-shadow: white 1px 1px 1px
    .or
      font-size: 14px
    a
      color: $red
      &:hover
        text-decoration: none
  .wait
    top: 120px
    left: 100%
    .wait-title
      font-size: 20px
      margin-bottom: 23px
    .or
      margin: 5px 0 4px 0
  .restart
    top: 199px
    left: 100%
    .or
      margin-bottom: 7px
    &.with-new-post
      width: 157px
  .open-badge
    display: block
    position: absolute
    top: 160px
    left: 100%
    margin-left: -250px
    height: 30px
    line-height: 30px
    color: white
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0
    text-decoration: none
    z-index: 13
    padding: 0 6px 0 262px
    &.continue
      z-index: 6
      margin-left: -243px
    &, .arrow
      background: $red
      +transition(background, 200ms, linear)
    .crop-shadow
      position: absolute
      top: -12px
      right: 0
      bottom: -12px
      left: 0
      overflow: hidden
    .shadow
      position: absolute
      top: 12px
      right: 0
      bottom: 12px
      left: 252px
      +box-shadow(rgba(0, 0, 0, 0.3) 10px 0 12px)
    .crop-arrow
      position: absolute
      top: -12px
      left: 100%
      width: 25px
      height: 30px + 2 * 12px
      overflow: hidden
    .arrow
      position: absolute
      top: 12px + 4px
      left: -10px
      width: 22px
      height: 22px
      +rotate(45deg)
      +box-shadow(rgba(0, 0, 0, 0.3) 0 0 12px)
    .border
      position: absolute
      top: 1px
      right: 1px
      bottom: 1px
      left: 1px
      border: 1px solid lighten($red, 10%)
      +transition(border-color, 200ms)
      &.no-right
        right: 0
        border-right: none
    .gradient
      position: absolute
      top: 0
      left: 0
      width: 260px
      bottom: 0
      +background( linear-gradient(top left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 190px, rgba(255, 255, 255, 0)) )
      +box-shadow(rgba(0, 0, 0, 0.15) 0 3px 3px -2px, rgba(0, 0, 0, 0.15) 0 -3px 3px -2px, rgba(0, 0, 0, 0.15) -3px 0 3px -2px)
    &:hover
      &, .arrow
        background: lighten($red, 6%)
      .border
        border-color: lighten($red, 16%)
    &:active
      .shadow, .arrow
        +box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px)

.transform3d .title-page
  +perspective(2000px)
  .rotator
    z-index: 30
    +transition(all, 500ms)
  .title, .back-side
    +backface-visibility(hidden)
    left: $title-width
  .title
    position: absolute
  .back-side
    display: block
    +rotateY(180deg)
  .back-side-shadow
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    +transition(background, 500ms)
  .back-side-shadow
    background: rgba(0, 0, 0, 0.06)
  &.open-book
    .rotator
      +rotateY(-180deg)
    .back-side-shadow
      background: rgba(0, 0, 0, 0)
