$top-menu: sprite-map("top-menu/*.png")

.top-menu
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 50
  height: 30px
  a
    text-shadow: black 0 0 2px
    +transition(text-shadow, 150ms)
    &:hover
      text-shadow: white 0 0 2px
  .top-menu-rotator
    height: 30px
    background: black
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 7px, #eee 0 1px 0)
  .center
    width: 760px
    margin: 0 auto
    position: relative
  .story-title, .post-title
    height: 30px
    line-height: 30px
    font-size: 19px
    font-family: Philosopher, serif
    color: white
  .story-title
    display: block
    position: absolute
    top: 0
    right: 100%
    text-decoration: none
    padding-left: 22px
  .story-logo
    position: absolute
    left: 0
    top: 7px
    +sized-sprite($top-menu, logo)
  .prev-next
    float: left
    width: 80px
    height: 20px
    position: relative
    &.first
      .prev.to-page
        display: none
      .prev.to-title
        display: block
    &.last
      .next.to-page
        display: none
      .next.waiting
        display: block
    .next, .prev
      display: block
      position: absolute
      top: 5px
      color: white
      height: 20px
      line-height: 20px
      width: 17px
      font-size: 20px
      text-decoration: none
      text-align: center
      &.waiting, &.waiting:hover
        color: #888
        text-shadow: black 0 0 2px
    .prev
      left: 24px
      &.to-title
        display: none
    .next
      left: 44px
      &.waiting
        display: none
  .post-title
    position: absolute
    top: 0
    left: 80px
    right: 250px
    overflow: hidden
    .top-title, .current-title, .bottom-title
      height: 30px
    .top-title
      margin-top: -30px
  .subscribe-and-share
    float: right
    margin-right: -5px
    .slide-button
      float: left
  .slide-button
    position: relative
    .button
      display: block
      color: white
      text-decoration: none
      font-size: 14px
      line-height: 30px
      height: 29px
      padding: 0 6px 0 26px
      +box-shadow(white 0 0 13px -13px inset)
      border-bottom: 1px solid black
      +transition(all, 150ms)
      position: relative
      .icon
        position: absolute
        top: 8px
        left: 6px
    .content
      display: none
      position: absolute
      width: 200px
      top: 100%
      left: 0
      background: black
      color: white
      font-size: 15px
      +box-shadow(rgba(0, 0, 0, 0.5) 0 0 7px)
      line-height: 1.25
      margin-top: -5px
      opacity: 0
      +transition(all, 200ms)
      &, .rotated
        +box-shadow(rgba(0, 0, 0, 0.5) 0 0 7px)
      .arrow
        position: absolute
        bottom: 100%
        left: 45px
        width: 16px
        height: 8px
      .rotated
        width: 11px
        height: 11px
        +rotate(45deg)
        background: black
        position: absolute
        top: 3px
      p
        padding-bottom: 6px
      a
        color: white
    &.open
      .button
        +box-shadow(white 0 -13px 13px -13px inset)
        border-bottom-color: white
        text-shadow: white 0 0 0
      .content
        opacity: 1
        margin-top: 11px
  .slide-button.what-is-it
    position: absolute
    top: 0
    left: 100%
    margin-left: 7px
    &.open .button, & .button:hover
      color: white
    .button
      font-size: 12px
      color: #d8d8d8
      padding: 0 5px 0 22px
      .icon
        left: 5px
        top: 9px
        +sized-sprite($top-menu, what-is-it)
    .content
      left: auto
      right: 0
      font-size: 15px
      width: 250px
      padding: 10px 12px 4px 12px
      .arrow
        right: 41px
        left: auto
  .slide-button.subscribe
    margin-right: 2px
    .icon
      +sized-sprite($top-menu, subscribe)
    .content
      width: 180px
      padding: 13px 15px 9px 15px
    .vk-subscribe
      position: relative
      margin-bottom: 10px
    .vk-crop
      display: inline-block
      position: relative
      overflow: hidden
      height: 19px
      width: 80px
      +border-radius(2px)
      border: 1px solid
      border-color: #789abf #5980a9 #5980a9 #5980a9
    #vk_top_group
      position: relative
      top: -40px
      left: -26px
    .vk-group
      display: inline-block
      padding-left: 27px
      position: relative
      top: -6px
      .vk-icon
        top: 2px
        left: 6px
        position: absolute
        +sized-sprite($top-menu, vk)
      a
        font-size: 13px
        text-decoration: none
        &:hover
          text-decoration: underline
  .slide-button.share
    .icon
      +sized-sprite($top-menu, share)
    .arrow
      left: 65px
    .content
      width: 160px
      padding: 14px 15px 10px 15px
    .vk
      margin-bottom: 12px
    .twitter
      padding-left: 46px

.top-menu.hidden
  top: -40px
  display: none

.transform3d .top-menu
  +perspective(2000px)
  &.hidden
    display: block
    top: 0
    .top-menu-rotator
      +rotateX(90deg)
  .top-menu-rotator
    padding-top: 32px
    position: relative
    top: -32px
    +transition(all, 600ms)
  .slide-button
    +perspective(2000px)
    .content
      margin-top: 5px
      +rotateX(60deg)
    &.open
      .content
        +rotateX(0)
        margin-top: 11px
  .slide-button.what-is-it
    .content
      margin-top: -15px
    &.open .content
      margin-top: 11px
