.feedback-content
  %a.feedback-link( href="mailto:#{story_config['public_email']}" )
    Связаться с автором
  .feedback-mail
    %a( href="mailto:#{story_config['public_email']}" )
      = story_config['public_email']
