%meta( name="description" content="Инсомнис — блог из другого мира. В отличии от книги вы можете общаться с героем прямо по ходу развития событий." )
%meta( name="keywords" content="Инсомнис, Insomnis, блог, книга, научная фантастика, бессонница, инквизиция, марс" )

%meta( name='og:title' content="Инсомнис — блог из другого мира" )
%meta( name='og:description' content="2028 год. Эпидемия пришла к людям и они потеряли надежду. Дьявол соблазняет людей и инквизиция карает невиновных." )
%meta( name='og:image' content="#{ root_url + 'title.jpg' }" )
%meta( name='og:url' content="#{ root_url }" )
