- content_for :head do
  %title Speak and Relax
  %link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merienda+One&text=SpeakRlx%20%26" )
  %link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Andika&subset=latin,cyrillic" )
  = stylesheet_link_tag :speakandrelax, media: :all, type: nil

.center
  .logo
  %h1
    Speak
    %span.and &
    Relax
  .promo
    %p
      Вы <strong>запутались</strong>?
    %p
      Не можете <strong>разобраться</strong> со своей жизнь?
    %p
      Воспользуйтесь <strong>опытом</strong> ваших родителей,
      обогащённым современными <strong>технологиями</strong>!
  .description
    %p
      Чтобы выговориться и получить поддержку друзей, люди в начале века заводили
      «блоги».
    %p
      Но теперь технологии шагнули далеко вперёд и вам не надо выкладывать свои
      тайны на обозрения публике.
    %p
      С помощью личного дневника «Speak and Relax» вы наговариваете в диктофон то,
      что вас волнует. Специальная технология «Smart Conversation AI»™ оставляет
      наводящие вопросы и полезные комментарии, чтобы вы могли разобраться в себе.
