@import 'compass/css3'

$red: #e3591a
$gray-background: #f2f2f2

@mixin image-size($path)
  width: image-width($path)
  height: image-height($path)

@mixin sized-sprite($map, $sprite)
  +image-size(sprite-file($map, $sprite))
  background: sprite($map, $sprite) no-repeat

$animation-vendors: "" "-webkit-" "-moz-" "-ms-"
@mixin animation($name, $duration, $timing: linear, $count: infinite)
  @each $vendor in $animation-vendors
    #{$vendor}animation: $name $duration $timing $count
